RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f [OR]
RewriteCond %{REQUEST_URI} \.py$
RewriteRule ^sources/([a-z0-9_]+\.py)$ router.php?__script=sources/$1 [QSA,L]
RewriteRule ^([a-z0-9_]+\.py)$ router.php?__script=$1 [QSA,L]
